.contactForm form label {
    display: block;
    margin-bottom: 8px;
}

.contactForm form input,
.contactForm form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contactForm form textarea {
    height: 150px;
}

.contactInfo ul {
    list-style-position: inside; /* Align bullet points inside the list items */
}

.contactInfo li {
    text-align: left; /* Left-align the text */
}
