.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: grid; /* Add grid display */
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Adjust the gap between items */
    text-align: left; /* Left-align the text */
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 20px; /* Reduce font size for project title */
    margin-bottom: 10px;
}

.card p {
    font-size: 10px; /* Reduce font size for project description */
    color: #555555;
}

.card a {
    font-size: 16px; /* Reduce font size for links */
    padding: 4px 8px; /* Reduce padding around links */
    color: #646cff; /* Adjust link color */
    text-decoration: none; /* Remove underline */
}

.card a:hover {
    color: #535bf2; /* Adjust link color on hover */
}

.img-container {
    max-width: 100%; /* Ensure images don't exceed their container */
    height: auto;
    display: flex; /* Use flexbox to center the image vertically */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

.img-container img {
    max-width: 100%; /* Ensure the image width doesn't exceed its container */
    max-height: 100%; /* Ensure the image height doesn't exceed its container */
    width: auto; /* Allow the image to adjust its width while maintaining aspect ratio */
    height: auto; /* Allow the image to adjust its height while maintaining aspect ratio */
    object-fit: cover; /* Ensure the image fills its container while preserving aspect ratio */
    border-radius: 8px; /* Optional: Add border-radius to match card's border-radius */
}
