.project-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.project-gallery .card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text within the card */
    background-color: rgba(50, 50, 50, 0.8);
    color: #fff;
}

.project-gallery .card h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.project-gallery .img-container {
    flex: 1;
    overflow: hidden;
}

.project-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
