:root {
  font-family: Helvetica, sans-serif; /* Set font to Helvetica */
  font-size: 30px; /* Base font size for mobile-first design */
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87); /* White text color */
  background-color: #242424; /* Dark background color */
  background-image: url('../public/SAAM-1950.2.1_1.jpg'); /* Background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Adjust font size for different screen sizes */
@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

a {
  font-weight: 500;
  font-size: 1.1em; /* Adjust link font size */
  color: #38f0fd; /* Ice blue color */
  text-decoration: none;
}

a:hover {
  color: #535bf2; /* Dark blue color on hover */
}

h1 {
  font-size: 2.5rem; /* Adjust heading font size */
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff; /* Dark blue color on hover */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Additional styles for light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff; /* Light blue color on hover */
  }
  button {
    background-color: #f9f9f9;
  }
}

.text-container {
  background-color: rgba(50, 50, 50, 0.8); /* Semi-transparent dark grey background */
  color: #ffffff; /* White text color */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Add rounded corners */
  max-width: 800px; /* Set maximum width for better readability */
  margin: 0 auto; /* Center the container horizontally */
  text-align: center; /* Center-align text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.text-container p {
  font-size: 1.6em; /* Increase font size for better readability */
  line-height: 1.6; /* Set line height for better readability */
}
